@media (min-width: 1440px) {
  /* Container */

  .container {
    display: flex;
  }

  .page-container {
    margin: 0 auto;
  }

  .page-container-content {
    position: static;
  }

  /* Header */

  .header {
    position: static;
    visibility: hidden;
    height: 0;
  }

  .header__button-setting,
   header__button-search {
    visibility: visible;
  }

  .header__button-text {
    font-weight: bold;
    min-width: 130px;
  }

  .header__label-desktop {
    margin-top: 70px;
    padding: 0 10px;
    display: flex;
    visibility: visible;
    align-items: center;
  }

  .header__button-text {
    visibility: visible;
  }

  .header__button-menu {
    visibility: hidden;
  }

  .header-logo {
    margin: 0;
  }

  /* Aside */

  .page-aside {
    position: static;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: 0.5px 0px 20px 0px #919191;
    width: 320px;
    min-height: 100vmax;
    overflow-y: hidden;
    transition: transform 0.5s;
  }

  .aside-active {
    opacity: 1;
    position: fixed;
    transform: none;
    min-height: 100vmax;
  }


  aside-main-nav{
    margin-bottom: 50px;
  }

  .aside-footer {
    margin-top: 50px;
  }

  /* Main */

  .main__scroll-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .main__scroll-item-label {
    padding: 10px;
  }

  .main__scroll-item {
    padding: 0 10px;
  }

  .main__scroll-item-radio-button:checked + .main__scroll-item-label {
    padding: 10px;
  }

  .main__description-text-tablet {
    display: none;
  }

  .main__description-text-desktop {
    display: flex;
  }

  .main__scroll-brend {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
