@media (min-width: 1440px) {
  /* Container */
  .page-container {
    margin: 0 auto;
  }

  /* Header */

  .header {
    visibility: hidden;
  }

  .header__button-hidden {
    display: none;
  }

  .line-hidden {
    display: none;
  }

  /* Main */
  
  .main__scroll-services {
    justify-content: space-evenly;
  }

  .main__description-text-tablet {
    display: none;
  }

  .main__description-text-desktop {
    display: flex;
  }

  .main__scroll-brend {
    grid-template-columns: repeat(4, 1fr);
  }
}
