/* Font */

@font-face {
  font-family: "TT Lakes Regular";
  src: url("../font/TTLakes-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("../font/TTLakes-Bold.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Body */

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "TT Lakes Regular", sans-serif;
  max-width: 100%;
  overflow-x: hidden;

  background-color: #f8f8f8;
}

/* Container */

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 100%;
  overflow-x: hidden;
}

.content-active {
  transition: all 0.5s;
  overflow: hidden;
  height: 100vh;
  opacity: 0.2;
}

.page-container-content {
  transition: all 0.5s;
}

/* Header */

.header {
  width: 100%;
  height: 88px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 1px 1px 0px #d9fff5;
}

.header__user__info {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-left: 80px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  margin: 0 20px;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}

.button:hover {
  transition: all 0.3s linear;
  background-color: #d93264;
}

.header__button-setting,
.header__button-search {
  visibility: visible;
}

.header__label-desktop {
  visibility: hidden;
  display: flex;
}

.header__button-text {
  width: 0;
}

.button:active {
  transform: scale(0.9);
}

.header__button-hidden {
  display: none;
}

.line-hidden {
  display: none;
}

/* Menu__btn */

.header__button-menu {
  top: 22px;
  left: 15px;
  z-index: 99;
  position: absolute;
  visibility: visible;
}

.header__button-menu span {
  position: absolute;
  height: 2px;
  background: #ffffff;
  border-radius: 1px;
  transition: all 0.5s;
  left: 11px;
}

.header__button-menu span:nth-child(1) {
  transform: translateY(5px);
  width: 14px;
  left: 11px;
  transition: all 0.5s;
}

.header__button-menu span:nth-child(2) {
  transform: translateY(0);
  width: 10px;
  left: 11px;
}

.header__button-menu span:nth-child(3) {
  transform: translateY(-5px);
  width: 18px;
  transition: all 0.5s;
}

.cross-active span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  width: 18px;
  left: 11px;
  transition: all 0.5s;
}

.cross-active span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  width: 18px;
  left: 11px;
  transition: all 0.5s;
}

.cross-active span:nth-child(2) {
  opacity: 0;
  transition: all 0.5s;
}

/* Aside */

.page-aside {
  z-index: 1;
  position: absolute;
  overflow: auto;
  left: -320px;
  top: 0;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  min-width: 320px;
  min-height: 100vh;
  transition: transform 0.5s;
}

.aside-active {
  min-height: 100vmax;
  transition: all 0.5s;
  transform: translateX(100%);
  box-shadow: 0.5px 0px 20px 0px #919191;
}

/* Aside__header */

.aside-header {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
}

.cross-active {
  position: absolute;
}

.header-logo {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-left: 30px;
}

/* Aside__nav */

.aside-nav {
  list-style: none;
  padding: 0 20px;
}

.aside-nav-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  max-width: fit-content;
}

.item-link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  width: fit-content;
  padding: 10px;
}

.active-link {
  color: #7e7e82;
}

.active-item::before {
  content: "";

  display: inline-block;
  margin-right: 10px;
  vertical-align: text-top;
  position: absolute;
  left: 0;

  width: 4px;
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #41f6d7;
}

/*Aside__footer */

.footer-button-contact {
  display: flex;
  padding: 0;
  margin-left: 30px;
  column-gap: 15px;
}

.footer-contact-info {
  list-style: none;
  padding: 0;
  margin-left: 30px;
}

.footer-link-info {
  text-decoration: none;
  color: #1b1c21;
}

.footer-link-info:hover {
  text-decoration: underline;
}

.footer-link-info-number {
  text-decoration: none;
  color: #1b1c21;
  font-size: 24px;
  font-family: "TT Lakes Bold";
}

.footer-link-info-number:hover {
  text-decoration: underline;
}

.footer-language {
  display: flex;
  column-gap: 10px;
  list-style: none;
  padding: 0;
  margin-left: 30px;
}

.footer-contact-info-item {
  margin: 10px 0;
}

.button-language {
  border: none;
  background: none;
  cursor: pointer;
  margin: 15px 0;
}

.active-button {
  color: #7e7e82;
}

/* Main */

.main {
  width: 100%;
  height: 100%;
}

.main__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "TT Lakes Bold", sans-serif;
  font-size: clamp(28px, 5vw, 35px);
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin: 15px 0;

  color: #1b1c21;
}

.title::before {
  content: "";

  display: inline-block;
  margin-right: 10px;
  vertical-align: text-top;

  width: 4px;
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #41f6d7;
}

.desktop-button-hidden {
  display: none;
}

.main__description {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 15px;
}

.main__description-text {
  padding: 0 15px;
  margin: 15px 0;

  font-family: "TT Lakes Regular";
  font-size: clamp(14px, 5vw, 20px);
}

.main__description-text-desktop {
  display: none;
}

.main__description-read-more {
  position: relative;

  font-family: "TT Lakes Regular";
  font-size: clamp(14px, 5vw, 16px);
  font-weight: 600;

  margin: 15px 0;
  padding: 0 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.main__description-read-more span {
  left: 0;
  width: 8px;
  height: 2px;
  border-radius: 2px;
  background-color: #41f6d7;
  position: absolute;
  transition: all 0.5s;
}

.main__description-read-more span:nth-child(1) {
  transform: rotate(45deg);
  transition: all 0.5s;
}

.main__description-read-more span:nth-child(2) {
  left: 4.5px;
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.main__description-read-more span:nth-child(3) {
  top: 15px;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.main__description-read-more span:nth-child(4) {
  top: 15px;
  left: 4.5px;
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.icon-read-more-active span:nth-child(1) {
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.icon-read-more-active span:nth-child(2) {
  left: 4.5px;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.icon-read-more-active span:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.icon-read-more-active span:nth-child(4) {
  top: 15px;
  left: 4.5;
  transform: rotate(45deg);
  transition: all 0.5s;
}

#read-more {
  font-size: clamp(14px, 5vw, 16px);
  background: none;
  border: none;
  transition: all 0.3s;
}

#read-more:hover {
  transition: all 0.3s;
  color: #a0a0a0;
  cursor: pointer;
}

#read-more:active {
  transition: all 0.3s;
  transform: scale(0.9);
}

.full-text-active {
  display: flex;
}

.main__page-container {
  width: 100%;
}

img {
  max-width: 100%;
}

/* Scroll */

.main__scroll-services {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: space-between;
}

.main__scroll-services::-webkit-scrollbar {
  width: 0;
}

.main__scroll-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  margin: 15px 0;
}

.main__scroll-item-label:hover{
  cursor: pointer;
}

.main__scroll-item-label {
  font-family: "TT Lakes Regular";
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 10px 15px;
}

.main__scroll-item-radio-button {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.main__scroll-item-radio-button:checked + .main__scroll-item-label {
  transition: all 0.6s linear;
  border: 1px solid #41f6d7;
  border-radius: 6px;
  padding: 10px 15px;
  background: #ffffff;
}

.main__brend {
  padding: 0 15px;
  border-top: 1px solid #d9fff5;
  border-bottom: 1px solid #d9fff5;
}

.sub-title {
  font-family: "TT Lakes Regular";
  font-size: clamp(16px, 5vw, 20px);
  color: #7e7e82;
  font-weight: 300;
  text-transform: uppercase;

  margin: 15px 0;
}

/* Brend */

.main__swiper-brend {
  display: flex;

  margin: 15px 0;
}

.swiper-brend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 240px;
  min-height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background: #fff;
  padding: 10px;
}

.swiper-brend-item:hover {
  cursor: pointer;
}

.main__repair__types {
  padding: 0 15px;
  border-bottom: 1px solid #d9fff5;
}

.brands__swiper-pagination {
  position: static;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 15px 0;
}

.swiper-slide-active {
  border: 1px solid #41f6d7;
}

/* Company */

.company {
  margin: 0 10px;
}

/* Icon-go */

.icon-go {
  margin: 0 10px;
}

/* Show-all */

.main__brand-show-all {
  display: none;
}


