/* Font */

@font-face {
  font-family: "TT Lakes Regular";
  src: url("../font/TTLakes-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("../font/TTLakes-Bold.ttf");
}

/* Body */

body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  font-family: "TT lakes", sans-serif;

  max-width: 320px;
  background-color: #f8f8f8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Header */

.header {
  width: 100%;
  height: 88px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 1px 1px 0px #d9fff5;
}

.header__user__info {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.menu:active {
  transform: scale(0.9);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.setting:active {
  transform: scale(0.9);
}

.search:active {
  transform: scale(0.9);
}

.header__user__info::after {
  content: "";

  align-items: center;
  width: 2px;
  height: 32px;
  background: #eaeaea;
}

/* Main */

.main {
  width: 100%;
  height: 100%;
}

.title {
  font-family: "TT Lakes Bold", sans-serif;
  font-size: clamp(28px, 5vw, 48px);
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6px;

  color: #1b1c21;
}

.title::before {
  content: "";

  display: inline-block;
  margin-right: 20px;
  vertical-align: text-top;

  width: 4px;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #41f6d7;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Slider*/

.main__slider{
  width: 250px;
  height: 50px;
  overflow: hidden;
  display: flex;
}

.main__slider-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sliders {
  width: 500%;
  height: 100%;

  display: flex;
}

.slider__nav {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.sliders__text {
  width: 30%;
  transition: all 0.6s ease;
}

.slider__nav-bar {
  height: 8px;
  width: 25px;
  margin: 6px;
  background-color: #ddd;

  border-radius: 5px;
  opacity: 0.5;
  transition: all 0.4s ease;
}

span{
  font-size: 16px;
  font-family: "TT Lakes Regular", sans-serif;

  width: 100%;
  height: 100%;
}

.slider__nav-bar:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.sliders__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}

#slide3:checked ~ .s1 {
  margin-left: -40%;
}

#slide4:checked ~ .s1 {
  margin-left: -60%;
}

#slide5:checked ~ .s1 {
  margin-left: -80%;
}
