/* Font */

@font-face {
  font-family: "TT Lakes Regular";
  src: url("../font/TTLakes-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("../font/TTLakes-Bold.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Body */

body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  font-family: "TT Lakes Regular", sans-serif;

  background-color: #f8f8f8;
}

/* Container */

.page-container {
  margin: 0 auto;
}

/* Header */

.header {
  width: 100%;
  height: 88px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 1px 1px 0px #d9fff5;
}

.header__user__info {
  min-width: 160px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 0 20px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  margin: 0 20px;
}

.header__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.header__button:active {
  transform: scale(0.9);
}

.header__button-hidden {
  display: none;
}

.line-hidden {
  display: none;
}

/* Main */

.main {
  width: 100%;
  height: 100%;
}

.main__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "TT Lakes Bold", sans-serif;
  font-size: clamp(28px, 5vw, 35px);
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin: 15px 0;

  color: #1b1c21;
}

.title::before {
  content: "";

  display: inline-block;
  margin-right: 10px;
  vertical-align: text-top;

  width: 4px;
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #41f6d7;
}

.desktop-button-hidden {
  display: none;
}

.main__description {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 15px;
}

.main__description-text {
  padding: 0 15px;
  margin: 15px 0;

  font-family: "TT Lakes Regular";
  font-size: clamp(14px, 5vw, 20px);
}

.main__description-text-tablet {
  display: none;
}

.main__description-text-desktop {
  display: none;
}

.main__description-read-more {
  font-family: "TT Lakes Regular";
  font-size: clamp(14px, 5vw, 16px);
  font-weight: 600;

  margin: 15px 0;
  padding: 0 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.main__page-container{
  width: 100%;
}

img {
  max-width: 100%;
}

/* Scroll */

.main__scroll-services {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: space-between;
}

.main__scroll-services::-webkit-scrollbar {
  width: 0;
}

.main__scroll-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  margin: 15px 0;
}

.main__scroll-item-label {
  font-family: "TT Lakes Regular";
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 10px 15px;
}

.main__scroll-item-radio-button {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.main__scroll-item-radio-button:checked + .main__scroll-item-label {
  transition: all 0.6s linear;
  border: 1px solid #41f6d7;
  border-radius: 6px;
  padding: 10px 15px;
  background: #ffffff;
}

.main__brend {
  padding: 0 15px;
  border-top: 1px solid #d9fff5;
  border-bottom: 1px solid #d9fff5;
}


.sub-title {
  font-family: "TT Lakes Regular";
  font-size: clamp(16px, 5vw, 20px);
  color: #7e7e82;
  font-weight: 300;
  text-transform: uppercase;

  margin: 15px 0;
}

/* Brend */

.main__scroll-brend {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 15px 0;
}

.main__scroll-brend::-webkit-scrollbar {
  width: 0;
}

.main__scroll-brend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 15px;
  margin: 15px 0;
}

.main__scroll-brend-item-radio-button {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.main__scroll-brend-item-label {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  margin: 0 10px;
  background-color: #a0a0a0;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}

.main__scroll-brend-item-label:hover {
  transform: scale(1.2);
  background-color: #a0a0a0;
  opacity: 0.8;
}

.company {
  display: flex;
}

.main__scroll-brend-item-radio-button:checked + .company {
  transition: all 0.6s linear;
  border: 1px solid #41f6d7;
  border-radius: 6px;
  background: #ffffff;
  opacity: 100%;
  background-color: #fff;
}

.main__scroll-brend-item-radio-button:checked + .main__scroll-brend-item-label {
  transition: all 0.6s linear;
  background-color: #41f6d7;
  opacity: 100%;
}

.main__scroll-brend-item-continer-img {
  display: flex;
  align-items: center;
  width: 128px;
  height: 38px;
}

.company {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 240px;
  min-height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background: #fff;
  padding: 10px;
}

.brand-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border: 1px solid #eaeaea;

  border-radius: 6px;
  margin-right: 10px;
  padding: 10px;
  min-width: 240px;
  min-height: 72px;
}

.main__repair__types {
  padding: 0 15px;
  border-bottom: 1px solid #d9fff5;
}

.main__nav-scroll {
  display: flex;
  align-self: center;
  justify-content: space-around;
  margin: 15px 0;
}

/* Scroll-types */

.main__scroll-types {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin: 15px 0;
}

.main__scroll-types::-webkit-scrollbar {
  width: 0;
}

.name-types {
  font-family: "TT Lakes Regular";
  color: #1b1c21;
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 600;

  display: grid;
  grid-template-rows: 80px;
  align-items: center;
  justify-items: start;

  background-color: #fff;
  border: 1px solid #eaeaea;

  border-radius: 6px;
  margin-right: 10px;
  padding: 10px;
  min-width: 240px;
  min-height: 160px;
}

.icon-item {
  justify-self: end;
}

.name-types:active {
  transform: scale(0.9);
}

.bar {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  margin: 0 10px;
  background-color: #a0a0a0;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}

.bar:hover {
  transform: scale(1.2);
  background-color: #a0a0a0;
  opacity: 0.8;
}

input[name="types"] {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}
