@media (min-width: 768px) {
  /* Container */
  .page-container {
    margin: 0 auto;
  }

  .header {
    justify-content: space-between;
  }

  .header__user__info {
    margin: 0 20px;
  }

  .header__logo{
    order: 2;
  }

  .header__nav {
    margin: 0 20px;
  }

  .header__button-hidden {
    display: flex;
  }
  .line-hidden {
    display: flex;
  }

  /* Main */
  .main__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 0 15px;
  }
  .main__description-text{
    padding: 0;
  }

  .main__description-text-tablet {

    display: flex;
  }

  .main__page-container {
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  .main__nav-scroll {
    visibility: hidden;
  }

  .main__scroll-brend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    overflow-x: hidden;
  }

  .main__scroll-brend-item {
    justify-content: center;
  }
  .main__scroll-brend-item::-webkit-scrollbar {
    width: 0;
  }
}
