@media (min-width: 768px) {
  /* Body */

  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* Container */
  .page-container {
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
  }

  /* Header */

  .header {
    position: static;
  }

  .header__logo {
    order: 2;
  }

  .header__button-hidden {
    display: flex;
  }

  .header-button-menu {
    position: absolute;
  }

  .line-hidden {
    display: flex;
  }

  /* Aside */

  .content-active {
    visibility: visible;
    overflow: hidden;
    height: 100vh;
    opacity: 20%;
  }

  aside-main-nav {
    margin-bottom: 50px;
  }

  .aside-page {
    position: absolute;
  }

  .aside-active {
    max-width: 100%;
    min-height: 100vh;

    z-index: 1;
    opacity: 1;
    box-shadow: 0.5px 0px 20px 0px #919191;
  }

  .cross-active {
    position: absolute;
  }

  /* Main */
  .main__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 0 15px;
  }
  .main__description-text {
    padding: 0;
  }

  .main__description-text-tablet {
    display: flex;
  }

  .main__page-container {
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  .main__scroll-services {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main__swiper-brend-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-height: 220px;
    overflow: hidden;
  }

  .main__swiper-brend-wrapper-active {
    max-height: none;
  }

  #btn-show-all {
    font-size: clamp(14px, 5vw, 16px);
    background: none;
    border: none;
    transition: all 0.3s;
  }

  /* Swiper-brend */

  .swiper-slide-active {
    border: 1px solid #eaeaea;
  }

  .swiper-brend-item-active {
    border: 1px solid #41f6d7;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-brend-item {
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  /* Swiper-repair */

  .main__swiper-repair-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-height: 170px;
    overflow: hidden;
  }

  .main__swiper-repair-wrapper-active{
    max-height: none;
  }

  /* Show-all */

  .main__brand-show-all {
    position: relative;

    font-family: "TT Lakes Regular";
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 600;

    margin: 15px 0;
    padding: 0 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .main__brand-show-all span {
    left: 0;
    width: 8px;
    height: 2px;
    border-radius: 2px;
    background-color: #41f6d7;
    position: absolute;
    transition: all 0.5s;
  }

  .main__brand-show-all span:nth-child(1) {
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  .main__brand-show-all span:nth-child(2) {
    left: 4.5px;
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  .main__brand-show-all span:nth-child(3) {
    top: 15px;
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  .main__brand-show-all span:nth-child(4) {
    top: 15px;
    left: 4.5px;
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  .main__brand-show-all-active span:nth-child(1) {
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  .main__brand-show-all-active span:nth-child(2) {
    left: 4.5px;
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  .main__brand-show-all-active span:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  .main__brand-show-all-active span:nth-child(4) {
    top: 15px;
    left: 4.5;
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  #btn-show-all:hover {
    transition: all 0.3s;
    color: #a0a0a0;
    cursor: pointer;
  }

  #btn-show-all:active {
    transition: all 0.3s;
    transform: scale(0.9);
  }

  /* Repair */

  #btn-show-all-repair {
    font-size: clamp(14px, 5vw, 16px);
    background: none;
    border: none;
    transition: all 0.3s;
  }

  #btn-show-all-repair:hover {
    transition: all 0.3s;
    color: #a0a0a0;
    cursor: pointer;
  }

  #btn-show-all-repair:active {
    transition: all 0.3s;
    transform: scale(0.9);
  }

  .main__repair-show-all {
    position: relative;

    font-family: "TT Lakes Regular";
    font-size: clamp(14px, 5vw, 16px);
    font-weight: 600;

    margin: 15px 0;
    padding: 0 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .main__repair-show-all span {
    left: 0;
    width: 8px;
    height: 2px;
    border-radius: 2px;
    background-color: #41f6d7;
    position: absolute;
    transition: all 0.5s;
  }

  .main__repair-show-all span:nth-child(1) {
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  .main__repair-show-all span:nth-child(2) {
    left: 4.5px;
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  .main__repair-show-all span:nth-child(3) {
    top: 15px;
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  .main__repair-show-all span:nth-child(4) {
    top: 15px;
    left: 4.5px;
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  .main__repair-show-all-active span:nth-child(1) {
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  .main__repair-show-all-active span:nth-child(2) {
    left: 4.5px;
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  .main__repair-show-all-active span:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  .main__repair-show-all-active span:nth-child(4) {
    top: 15px;
    left: 4.5;
    transform: rotate(45deg);
    transition: all 0.5s;
  }

}
