@media (min-width: 768px) {
  /* Body */

  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* Container */
  .page-container {
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
  }

  /* Header */

  .header__logo {
    order: 2;
  }

  .header__button-hidden {
    display: flex;
  }

  .line-hidden {
    display: flex;
  }

  /* Aside */

  .content-active {
    visibility: visible;
    overflow: hidden;
    height: 100vh;
    opacity: 20%;
  }

  aside-main-nav{
    margin-bottom: 50px;
  }
  
  .aside-page{
    position: absolute;
  }
 

  .aside-active{
    max-width: 100%;
    min-height: 100vh;

    z-index: 1;
    opacity: 1;
    box-shadow: 0.5px 0px 20px 0px #919191;
  }

  .cross-active{
    position: absolute;
  }

  /* Main */
  .main__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 0 15px;
  }
  .main__description-text {
    padding: 0;
  }

  .main__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 0 15px;
  }
  .main__description-text {
    padding: 0;
  }

  .main__description-text-tablet {
    display: flex;
  }

  .main__page-container {
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  .main__scroll-services {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main__nav-scroll {
    visibility: hidden;
  }

  .main__scroll-brend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
  }

  .main__scroll-brend-item {
    justify-content: center;
    padding: 0;
  }
}
